<html>
<body>
	<form action="/student" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" />
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="text" id="age" />
    </div>
    <div>
        <label for="sex">sex:</label>
        <input type="text" id="sex" />
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" />
    </div>
    <div class="button">
        <button type="post">Submit</button>
    </div>
   
</form>
</body>
</html>
